# This is Git's per-user configuration file.
[user]
	name = Mykola Lisivka
	email = 12681237+mlisivka@users.noreply.github.com
[core]
	excludesfile = /Users/mlisivka/.gitignore
	editor = nvim

[mergetool "nvim"] # define command which will be used when "nvim" is set as a merge tool
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge] # set "nvim" as tool for merging
  tool = nvim
[mergetool] # automatically launch merge tool without displaying a prompt
  prompt = false
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
